@mixin transitionInput {
  transition: background-color 0.3s;
}

.input {
  width: 360px;
  height: 60px;
  background: var(--input-bg);
  padding: 2px 16px;
  border-radius: 16px;
  @include transitionInput;

  @media screen and (width < 720px) {
    width: 248px;
  }
}

.focused {
  background: var(--input-bg-focus);
  @include transitionInput;
}