.userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  width: 484px;
  padding: 4px 16px;
  border-radius: 16px;
  border: 1px solid var(--main-purple);

  @media screen and (width < 720px) {
    width: 240px;
    overflow: hidden;
  }
}